.ach-elem{
    border:3px solid rgb(248, 181, 27);
    background-color: #141c3b;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.759);
    border-radius: 2rem;
    margin:20px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width:100%;
    min-width:calc(200px + 10vw);
    /* min-width: calc(200px + 20vw); */
    height:200px;
}
.ach-title{
    color:rgba(255, 255, 0, 0.753);
    font-family:'Times New Roman', Times, serif;
    font-size: calc(14px + 1vw);
    font-weight: 600;
    text-align: center;
}
.ach-desc{
    font-size: calc(12px + 0.8vw);
    color:white;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}