*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    background-color: #141c3b;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar-modified{
    background-color: #141c3b;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    row-gap: 2vw;
}
.name-toggle{
    width:30%;
}
.name{
    color:white;
    font-size: 25px;
    width: 100%;
}
.toggle-list{
    display: none;
    color:white;
    cursor: pointer;
    font-size:20px;
}
.nav-list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    column-gap: 3rem; 
    width: 60%;
}
.nav-list-modified{
    display:flex;
    flex-direction: column;
    list-style-type:none;
    width:100%;
}
.list-item{
    font-size: 20px;
    cursor: pointer;
    padding:3px;
}
.nav-link{
    text-decoration: none;
    color:white;
}
.list-item:hover{
    background-color: #e9edf949;
    transition: background-color 0.5s;
}
.list-item:hover .nav-link{
    color:orange;
    transition:color 1s;
}
@media (max-width:900px) {
    .navbar{
        justify-content: space-between;
        padding: 2vw;
    }
    .name-toggle{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .nav-list{
       display:none;
    }
    .toggle-list{
        display: block;
    }
    .list-item{
        width: 100%;
    }
}